html,
body {
  height: 100%;
}

.container {
  display: grid;
  height: 100%;
  grid-template-rows: 72px;
}
.header {
  border-bottom: 1px solid black;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}
.headerElement {
  display: flex;
  align-items: center;
  margin-right: 1em;
  height: 100%;
}
#name {
  margin-right: 2em;
  margin-left: 1em;
}
